<h1>{{ hunt.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'hunts:sub' hunt.id %}" method="post">
{% csrf_token %}
{% for stop in hunt.stop_set.all %}
	<p>{{ stop.label }}</p>
	{% for answer in stop.answer_set.all %}
	    <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
	    <label for="answer{{ forloop.counter }}">{{ answer.text }}</label><br>

	{% endfor %}
	
{% endfor %}
<input type="submit" value="Sub">
</form> 